body{
  font-style: 16px;
  line-height: 1.5;
  font-family: "Roboto" "Arial" "sans serif";
  letter-spacing: 0.5px;
}
*:focus{
  font-style: 16px;
  line-height: 1.5;
  font-family: "Roboto" "Arial" "sans serif";
  letter-spacing: 0.5px;
  outline: 2px dotted #ff7500;
  outline-offset: 3px;
}
/* SITE HEADER */
.site-header{
  background-color: white;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.logo-link{
  transition: opacity 0.4s ease;
}
.logo-link:hover{
  opacity: 0.8;
}
.logo-link:active{
  opacity: 0.6;
}

.Site-header-actions{
  display: flex;
  align-items: center;
}

/* SITENAV */
.sitenav-list{
  list-style: none;
  display: flex;
}

.sitenev-link{
  font-family: Roboto;
  font-size: 13px;
  font-weight: 500;
  line-height: 15px;
  letter-spacing: 1px;
  text-align: left;
  text-transform: uppercase;
  text-decoration: none;
  color: #000;
  transition: color 0.4s ease, opacity 0.4s ease;
}
.sitenev-link:hover{
  color: #ff7500;
}
.sitenev-link:active{
  opacity: 0.6;
}

/* MAIN-LINK */
.main-link{
  font-size: 13px;
  line-height: 15px;
  color: #fff;
  background-color: #ff7500;
  text-decoration: none;
  transition: opacity 0.4s ease;
}
.main-link:hover{
  opacity: 0.8;
}
.main-link:active{
  opacity: 0.6;
}

/* HERO */
.hero{
  background: #252420;
  color: #fff;
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hero-content{
  width: 390px;
}

.orenge-line{
  width: 80px;
  height: 3px;
  background-color: #ff7500;
}

.hero-heading{
  font-style: 40px;
  line-height: 1.2;
  font-family: "Roboto condensed", "Roboto", "Arial", "Sans-serif";
}

.hero-img{
  width: 510px;
  height: 510px;
}
/* FEATURES */

.Features-heading{
  width: 440px;
  font-size: 72px;
  line-height: 1.2;
  letter-spacing: 0.5px;
  font-family: "Roboto Condensed", "Roboto" "Arial" sans-serif;
}

.features-list{
  display: flex;
  justify-content: space-between;
}

/* FEATURE */
.feature-icon-wrapper{
  width: 100px;
  height: 100px;
  background-color: rgba(255, 117, 0, 0.2);
}

.feature-title{
  font-style: 24px;
  line-height: 1.2;
  font-family: "Roboto Condensed", "Roboto" "Arial" sans-serif;
}

.feature{
  width: 340px;
}

/* PROMO */
.promo{
  background-color: #252420;
  color: #fff;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.prome-content{
  width: 440px;
}
.promo-heading{
  font-style: 40px;
  line-height: 1.5;
  font-family: "Roboto Condensed", "Roboto" "Arial" sans-serif;
}

.promo-highlight{
  color: #ff7500;
}

.promo-img{
  width: 440px;
  height: 440px;
  object-fit: cover;
}

/* SITE-FOOTER */
.site-footer{
  background-color: #f8f8f8;
}

.site-footer-top{
  display: flex;
  align-items: center;
  justify-content: space-between;

}

.site-footer-sorciols{
  display: flex;
  align-items: center;
  list-style: none;
}

.site-footer-sorciols{
  color: #251420;
}
.site-footer-sorciols a:hover{
  color: #ff7500;
}
.site-footer-sorciols a:active{
  opacity: 0.6;
}

.site-footer-divider{
  background-color: rgba(37, 36, 32, 0.5);
  height: 2px;
}

.site-footer-bottom{
  display: flex;
}

.site-footer-links{
  list-style: none;
  width: 224px;
}

.site-footer-links a{
  text-decoration: none;
  color: #252420;
  line-height: 19px;
}
.site-footer-links a:hover{
  color: #ff7500;
}
.site-footer-links a:active{
  opacity: 0.6;
}

.ullar{
  list-style: none;
}